*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


header{
    background-color: rgb(44, 63, 107);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1{
    color: rgb(232, 200, 151);
}


header nav ul{
    display: flex;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    color: white;
    text-decoration: none;
    padding: 30px;
}
.activo{
    text-decoration: underline;
}

main{
    background-color: rgb(83, 194, 194);
    flex-grow: 1;
}


footer{
    height: 15vh;
    color: white;
    background-color: rgb(12, 18, 34);
}